.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100%;
  margin: 0 auto;
  gap: 3rem;
  color: #F6ECFF;
  opacity: 0;
  animation: ani 1.5s forwards;
}

@keyframes ani {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.nav-link{
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3rem;
}

a{
  text-decoration: none;
}

.link a{
  position: relative;
  padding-bottom: 0.75rem;
  color: #F6ECFF;
}

.link a::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 0;
  bottom: 0;
  left: 0;
  background-color: #C7BBFF;
  transition: all 0.3s ease;
}

.link a:hover::after{
  width: 70%;
}