.glassContainer {
  position: relative;
  border: 1px solid #D4D0C8;
  background: rgba(0, 0, 0, 0.32);
  backdrop-filter: blur(5px);
  display: flex;
  flex-direction: column;
  padding: 40px;
  box-sizing: border-box;
}

.topIcons {
  position: absolute;
  top: 74px;
  left: 40px;
  display: flex;
  gap: 20px;
  pointer-events: none;
  z-index: 1;
}

.topLeftIcon,
.topRightIcon {
  pointer-events: auto;
  cursor: pointer;
  transition: transform 0.2s ease;

  &:hover {
    transform: scale(1.1);
  }
}

.content {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 0;
}

.bottomRightIcons {
  position: absolute;
  bottom: 30px;
  right: 50px;
  display: flex;
  z-index: 1;
}

.bottomRightIcon {
  cursor: pointer;
  transition: transform 0.2s ease;

  &:hover {
    transform: scale(1.1);
  }
}

.topLeftCircle {
  position: absolute;
  top: 7px;
  left: 7px;
  z-index: 2;
}

.bottomLeftCircle {
  position: absolute;
  bottom: 0px;
  left: 7px;
  z-index: 2;
}

.topRightCircle {
  position: absolute;
  top: 7px;
  right: 5px;
}

.bottomRightCircle {
  position: absolute;
  bottom: 0px;
  right: 7px;
  z-index: 2;
}

.topRightButtons {
  position: absolute;
  top: 70px;
  right: 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  max-width: 197px;
  gap: 75px;

  & a {
    position: relative;
    width: 197px;
    height: 62px;
    border: 1px solid #D4D0C8;
    border-radius: 47px;
    background-color: #0F0F0F;

    font-size: 18px;
    font-weight: 600;
    font-family: 'Inter';
    color: #D4D0C8;

    display: flex;
    justify-content: center;
    align-items: center;

    &::before {
      content: '';
      position: absolute;
      right: -9px;
      top: 50%;
      transform: translateY(-50%);
      width: 16px;
      height: 16px;
      border: 1.2px solid #D4D0C8;
      border-radius: 50%;
      background: #0F0F0F;
      z-index: 100;
    }

    &::after {
      content: '';
      position: absolute;
      left: 100%;
      top: 50%;
      transform: translateY(-50%);
      width: 100px;
      height: 1px;
      background-color: #ffffff;
    }
  }
}