.topArc {
     position: absolute;
     top: 0;
     left: 0;
     z-index: 1;
}

.lowArc {
     z-index: 1;
     height: 740px;
     position: absolute;
     bottom: 0;
     left: 32%;
     overflow: hidden;
}

@media (min-width: 2000px) {
     .topArc {
          top: 0;
          left: 20%;
     }

     .lowArc {
          left: 40%;
          bottom: 0;
     }
}

@media (min-width: 1441px) {
     .topArc {
          top: 0;
          left: 10%;
     }

     .lowArc {
          left: 36%;
          bottom: 0;
     }
}

@media screen and (max-width: 1440px) {
     .topArc {
          top: 0;
          left: -8%;
     }

     .lowArc {
          left: 32%;
          bottom: 0;
     }
}

@media screen and (max-width: 1160px) {
     .topArc {
          top: 0;
          left: -13%;
     }

     .lowArc {
          left: 28%;
          bottom: 0;
     }
}

@media screen and (max-width: 1024px) {
     .topArc {
          left: -30%;
          top: -30px;
     }

     .lowArc {
          left: 25%;
          bottom: -20px;
     }
}

@media screen and (max-width: 768px) {
     .topArc {
          left: -55%;
          top: -40px;
     }

     .lowArc {
          left: 20%;
          bottom: -30px;
     }
}

@media (max-width: 600px) {
     .topArc {
          left: -100%;
          top: -140px;
     }

     .lowArc {
          bottom: -40px;
          left: 0%;
     }
}

@media (max-width: 500px) {
     .topArc {
          left: -140%;
          top: -140px;
     }

     .lowArc {
          bottom: -40px;
          left: -10%;
     }
}

@media screen and (max-width: 400px) {
     .topArc {
          left: -160%;
          top: -140px;
     }

     .lowArc {
          bottom: -40px;
          left: -20%;
     }
}