@use '../../../shared/styles/variables' as *;

.loadingContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: $color-background-primary;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: $z-loading;
  opacity: 1;
  transition: opacity 0.7s ease-out, visibility 0s linear 2s;
  
  &.fadeOut {
    opacity: 0;
    visibility: hidden;
  }
}

.textContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.text {
  color: $color-text-primary;
  font-size: 3rem;
  font-weight: 600;
  opacity: 1;
  transition: opacity $loading-fade-duration $loading-fade-timing;
  
  &.fadeOut {
    opacity: 0;
  }
}

.fullName {
  animation-delay: 0s;
}

.portfolio {
  animation-delay: 0s;
  font-size: 2rem;
  font-weight: 400;
}