.skill-tech-react {
   color: aqua;
   margin: 0 auto;
}

.skill-tech-html {
   color: #DD4B24;
   margin: 0 auto;
}

.skill-tech-css {
   color: #2968B2;
   margin: 0 auto;
}

.skill-tech-scss {
   color: #D06C9C;
   margin: 0 auto;
}

.skill-tech-js {
   color: #EFD81D;
   margin: 0 auto;
}

.skill-tech-ts {
   color: #3074C0;
   margin: 0 auto;
}

.skill-tech-git {
   color: #EA4D32;
   margin: 0 auto;
}

.skill-tech-redux {
   color: #7248B6;
   margin: 0 auto;
}

.skill-tech-figma {
   color: #fff;
   margin: 0 auto;
}

.skill-tech-vite {
   color: #d9e013;
   margin: 0 auto;
}