.hard-skill {
   display: grid;
   
}

.other-color {
   color: #D3B3EE;
}

.skills-text {
   color: #FFFFFF;
   display: flex;
   justify-content: center;
   gap: 30rem;
}

.skills-item {
   margin: 1rem 1rem;
   background: #141313;
   list-style: none;
   transition: all .3s ease-out;
}

.skills-item:hover {
   background: #252323;
}

.skills-list {
   color: #FFFFFF;
   
}

.skills {
   display: flex;
   justify-content: center;
   gap: 30rem;
}